<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
		<property name="LOG_HOME">default</property>
		<property name="LOG_Layout">[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] [%t] %c{1}:%L - %m%n</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${sys:LOG_Layout}" />
		</Console>

		<RollingFile name="RollingFileInfo"
			fileName="${sys:LOG_HOME}/info.log" filePattern="${sys:LOG_HOME}/info.log.%d{yyyy-MM-dd}-%i" createOnDemand="true">
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="${sys:LOG_Layout}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1000 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>

		<RollingFile name="RollingFileError"
			fileName="${sys:LOG_HOME}/error.log" filePattern="${sys:LOG_HOME}/error.log.%d{yyyy-MM-dd}-%i" createOnDemand="true">
			<ThresholdFilter level="warn" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${sys:LOG_Layout}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1000 MB" />
			</Policies>
			<DefaultRolloverStrategy max="7"/>
		</RollingFile>

		<RollingFile name="RollingQueueFileInfo"
					 fileName="${sys:LOG_HOME}/queue.log" filePattern="${sys:LOG_HOME}/queue.log.%d{yyyy-MM-dd}-%i" createOnDemand="true">
			<ThresholdFilter level="info" onMatch="ACCEPT"
							 onMismatch="DENY" />
			<PatternLayout pattern="${sys:LOG_Layout}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1000 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<AsyncRoot level="info"  includeLocation="true">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileInfo" />
			<appender-ref ref="RollingFileError" />
		</AsyncRoot>
		<AsyncLogger name="queue" level="info" additivity="false" includeLocation="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingQueueFileInfo" />
		</AsyncLogger>
	</Loggers>
</Configuration>